* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-padding-top: 32px;
  /* 2rem */
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: black;
}
section {
  padding: 72px 0 24px;
  /* 4.5rem 1.5rem */
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.5s;
  background-color: black;
  border-bottom: 1px solid white;
}
.logo {
  font-size: 17.6px;
  /* 1.1rem */
  font-weight: 600;
  display: flex;
  color: white;
  align-items: center;
  column-gap: 8px;
}
.logo i {
  font-size: 24px;
  color: white;
}
.navbar {
  display: flex;
  column-gap: 80px;
  /* 5rem */
}
.navbar li {
  position: relative;
}
.navbar a {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.navbar a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}
.navbar a:hover::after {
  width: 100%;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 100001;
  display: none;
}
button {
  margin-left: 10px;
  padding: 11.2px;
  width: 100px;
  border-radius: 8px;
  font-weight: 400;
  border: none;
  background-color: red;
}
button a {
  font-size: 15px;
  color: white;
}
button:hover {
  background-color: rgb(224, 78, 67);
}
.btn {
  padding: 11.2px 22.4px;
  background-color: red;
  color: white;
  font-weight: 400;
  border-radius: 8px;
}
.btn:hover {
  background-color: rgb(224, 78, 67);
}

.conatier {
  width: 100%;
  min-height: 640px;
  position: relative;
  display: flex;
  align-items: center;
  background: rgba(7, 2, 2, 0.4);
}
.conatier img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 3.2px;
  background-color: white;
  opacity: 1;
}
.home-text {
  z-index: 1000;
  padding: 0 150px;
}
.home-text span {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}
.home-text h1 {
  color: white;
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 16px;
}
.play {
  position: absolute;
  right: 64px;
  bottom: 10%;
}
.play i {
  background-color: white;
  padding: 10px;
  font-size: 32px;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.4);
  color: red;
}
.play .bx:hover {
  background-color: red;
  color: white;
  transition: 0.2s all linear;
}
/* Movie */
.heading {
  max-width: 968px;
  margin: 0 auto;
  font-size: 19.2px;
  font-weight: 500;
  border-bottom: 1px solid red;
}
.movies-container {
  max-width: 968px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  margin-top: 32px;
}
.box .box-img {
  width: 100%;
  height: 270px;
}
.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .box-img img:hover {
  transform: translateY(-10px);
  transition: 0.2s all linear;
}
.box h3 {
  font-size: 14.4px;
  font-weight: 500;
}
.box span {
  font-size: 13px;
}
/* Footer */
.Footer {
  max-width: 978px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.social i {
  background: white;
  padding: 2px;
  font-size: 32px;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.4);
  color: red;
}
.social i:hover {
  background: red;
  color: white;
  transition: 0.2s all linear;
}
@media (max-width: 1440px) {
  .home-text {
    padding: 0 100px;
  }
  .sign {
    display: flex;
  }
}
@media (max-width: 1024px) {
  header {
    padding: 12px 5%;
  }
  .navbar {
    column-gap: 50px;
  }
  section {
    padding: 50px 5%;
  }
  .home-active h1 {
    font-size: 64px;
  }
  .sign {
    display: flex;
    margin-bottom: 10px 0;
  }
  .home-text h1 {
    font-size: 50px;
  }
  .movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  header {
    padding: 12px 5%;
  }
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: black;
    row-gap: 16px;
    padding: 20px;
    transition: 0.2s all linear;
    text-align: center;
  }
  .navbar a:hover {
    color: red;
    border-bottom: 2px solid red;
  }
  .navbar a::after {
    display: none;
  }
  .movies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #signin {
    display: none;
  }
  .navbar.bx {
    top: 100%;
    padding-left: 60px;
  }
  .home-text span {
    display: none;
  }
  .home-text h1 {
    font-size: 30px;
  }
}
